name: Plugin portal publication

on:
  push:
    branches:  [ master_disable ] #[ release/* ]

jobs:
  build:
    name: Create Release and tag
    runs-on: macos-latest
    env:
      GIT_USERNAME: ${{ secrets.GIT_USERNAME }}
      GIT_EMAIL: ${{ secrets.GIT_EMAIL }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Gradle Portal upload artifact
        run: |
          echo "gradle.publish.key=${{ secrets.GRADLE_PUBLISH_KEY }}" >> gradle.properties
          echo "gradle.publish.secret=${{ secrets.GRADLE_PUBLISH_SECRET }}" >> gradle.properties
          cat gradle.properties
          ./gradlew bump-version-code:publishPlugins
          ./gradlew changelog-update:publishPlugins
          ./gradlew replace-in-file:publishPlugins
          ./gradlew git-utils:publishPlugins